/*
  Name: Tammy Liu
  Email Address: Tammy_Liu@student.uml.edu
  Affliation: University of Massachusetts Lowell Computer Science Student
  File: cs.uml.edu/~tliu/HW5
  COMP.4610-201 (91.61) GUI Programming I Assignment: Creating an Interactive Dynamic Table
  source: getbootstrap.com, bootswatch.com, css-tricks.com, youtube.com (Brad Traversy)
*/

#mTable th { /*changes the background color of the first row and column to
              eggplant purple. Also changes the border color of each cell
              to black.*/
  color: #fff;
  background-color: #593196;
  border-color: #000;
}

#mTable td { /*makes the border color for the data/ result cells black*/
  border-color: #000;
}

#mTable tr:nth-child(even) { /*changes the background color of every nth-child
                              that is even to gray to help/assist with readibility*/
  background-color: #ddd;
}
